if SHIELD_MADTRIX_DONGLE

config ZMK_KEYBOARD_NAME
    default "Madtrix"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
	default y

endif

if SHIELD_MADTRIX_LEFT || SHIELD_MADTRIX_RIGHT || SHIELD_MADTRIX_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
	default y

config ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
	default y
endif


if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default y

endif
