if SHIELD_MADTRIX_DONGLE

config ZMK_KEYBOARD_NAME
    default "Madtrix"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
	default y

endif

if SHIELD_MADTRIX_LEFT || SHIELD_MADTRIX_RIGHT || SHIELD_MADTRIX_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
	default y

config CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
	default y

config CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
	default y
config CONFIG_ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
	default y
endif
